body, html {
  height: 100%;
  width: 100%;
  margin: 0;
}

#main-wrapper {
  display: flex;
  flex-direction: column;
  height: 300%;
  width: 100%;
  overflow: hidden;
}

#block-1 {
  height: 100%;
  width: 100%;
  background-image: url("k1.jpg");
  background-repeat: no-repeat;
  background-size: cover;

}

#knapp1 {
  border: solid black;
  color: black;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}
#knapp2 {
  border: solid white;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}

#block-2 {
  height: 100%;
  width: 100%;
  background-image: url("k2.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

#textstart {
  font-size: 30px;
  border: solid black;
  border-radius: 10px;
  padding: 10px;
  width: 25%;
  height: 100px;
  position: relative;
  left: 0px;
  top: 0px;
}

#block-3 {
  height: 100%;
  width: 100%;
  background-image: url("k3.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

#knapp3 {
  border: solid white;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}

#textom  {
  font-size: 20px;
  color: white;
  left: 100px; 

}
